{% extends 'raw/_layout-raw' %}

{% set tmplName = 'Raw Parts & Service' %}

{% block content %}

  <table class="table">
    <tbody class="content">
      <tr>
        <th>EID</th>
        <th>Title</th>
        <th>Overview</th>
        <th>Callout Heading</th>
        <th>Callout Body</th>
        <th>Contact Info</th>
        <th>Page Links</th>
        <th>Multi-column List</th>
      </tr>
      {% for entry in craft.entries.section('partsAndService').all() %}
        <tr>
          <td>{{ entry.id }}</td>
          <td><a href="{{ entry.url }}" target="_blank">{{ entry.title }}</a></td>
          <td>{{ entry.pageOverview }}</td>
          <td>{{ entry.pasCalloutHeading }}</td>
          <td>{{ entry.pasCalloutBody }}</td>
          <td>{{ entry.pasContactInfo }}</td>
          <td>{% include '_includes/pagelinks' %}</td>
          <td>
            {%- if entry.pasMultiColumnListSection | length -%}
            {%- set listSection = entry.pasMultiColumnListSection.one -%}
              <section class="product-section">
                <div class="container">
                  {%- if listSection.image | length -%}
                    <div class="img-holder">
                      <img src="{{ listSection.image.one.url }}" alt="">
                    </div><!-- /.img-holder -->
                  {%- endif -%}
                  <div class="text-holder">
                    <div class="text-blue">
                      {%- if listSection.heading | length -%}
                        <h2>{{ listSection.heading }}</h2>
                      {%- endif -%}
                      {%- if listSection.overview | length -%}
                        <p>{{ listSection.overview }}</p>
                      {%- endif -%}
                    </div><!-- /.text-blue -->
                    {%- if listSection.listItems | length -%}
                      <ul>
                        {%- for listItem in listSection.listItems -%}
                          <li>{{ listItem.listItem }}</li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                  </div><!-- /.text-holder -->
                </div><!-- /.container -->
              </section>
            {%- endif -%}
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}