{# Hero Default Block #}

{% do defineProps(data, {
  eyebrow: '',
  heading: '',
  simpleContent: '',
  links: null,
}) %}

{{ data.eyebrow }}
{{ data.heading }}
{{ data.simpleContent }}

{%- for link in data.links -%}
  <a href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
{%- endfor -%}
