{% extends '_layouts/default' %}

{% set pageType = 'products-category' %}

{% block content %}
  {% cache for 1 month %}
    <main id="main">
      {% include '_includes/hero' with { element: category } %}

        <section class="catalog-section">
          <div class="container">

            {% include '_includes/breadcrumbs' %}

            <div class="products-list">
              <div class="info-box">
                {{ category.catBody }}
              </div><!-- /.info-box -->

              {%- if category.hasDescendants() -%}
                <!-- subcategories -->
                {%- for subcat in category.descendants.descendantDist(1).all() -%}
                  <div class="card">
                    <div class="card-img-top">
                      <img
                        data-src="{{ subcat.catThumb.one.url | default('') }}"
                        width="{{ subcat.catThumb.one.width | default('') }}"
                        height="{{ subcat.catThumb.one.height | default('') }}"
                        class="lazyload case-subcategories"
                        alt="{{ subcat.title }}"
                      >
                      <a href="{{ subcat.url }}" class="btn btn-outline-light">
                        {{ 'view' | t }}
                      </a>
                    </div><!-- /.card-img-top -->
                    <div class="card-body">
                      <div class="card-header">
                        <h4 class="card-title">
                          <a href="{{ subcat.url }}">
                            {{ subcat.title }}
                          </a>
                        </h4>
                      </div><!-- /.card-header -->
                      <p>{{ subcat.catDesc }}</p>
                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                {%- endfor -%}
              {%- else -%}
                <!-- products -->
                {%- for product in craft.entries.section('products').relatedTo(category).all() -%}
                  <div class="card">
                    <div class="card-img-top">
                      <img 
                        data-src="{{ product.productThumbnail.one.url ?? product.productImages.one.url }}"
                        class="lazyload case-products"
                        width="{{ product.productThumbnail.one.width ?? product.productImages.one.width }}"
                        height="{{ product.productThumbnail.one.height ?? product.productImages.one.height }}"
                        alt="{{ product.title }}"
                      >
                      <a href="{{ product.url }}" class="btn btn-outline-light">
                        {{ 'view' | t }}
                      </a>
                    </div><!-- /.card-img-top -->
                    <div class="card-body">
                      <div class="card-header">
                        <h4 class="card-title">
                          <a href="{{ product.url }}">
                            {{ product.title }} {% if product.productNew %}<span class="badge badge-pill badge-warning">NEW</span>{% endif %}
                          </a>
                        </h4>
                      </div><!-- /.card-header -->
                      <p>{{ product.productShortDesc }}</p>
                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
                {%- endfor -%}
              {%- endif -%}

            </div><!-- /.products-list -->

            {%- if category.catLinks | length -%}
              <div class="btn-block">
                {%- for link in category.catLinks -%}
                  <a href="{{ link.linkUrl }}" class="btn btn-lg btn-success">
                    {{ link.linkText }}
                  </a>
                {%- endfor -%}
              </div><!-- /.btn-block -->
            {%- endif -%}
            
          </div><!-- /.container -->
        </section>
    </main>
  {% endcache %}
{% endblock %}
